<html>
<head>
    <link rel="icon" type="image/svg" href="static/images/logo.svg">
	<link rel="stylesheet" type="text/css" href="static/style/style.css">
	<title>Добавление скидок</title>
</head>
<body>
<table border="0" width="900" cellpadding="0" cellspacing="0" align="center" bgcolor="#c4c4c4">
	<tr>
	<td width="150" align="center">
        <a href="/">
			<img src="static/images/logo.svg" alt="Лого Атриум">
		</a>
    </td>
	<td align="center"><H1>ТРК"АТРИУМ"</H1></td>
	<td width="250">
		{{if .User}}
			<div>
				<p style="font-size: 16px;">Добро пожаловать, {{.User}}!</p>
				<form action="/logout" method="post" style="display: inline-block; border: none;">
					<input type="submit" value="Выйти" style="padding: 9px 27px;">
				</form>
				<button onclick="window.location.href='/basket'" style="padding: 9px 20px;display: inline-block; border: none;">🛒</button>
				{{if eq .User "admin"}}
					<button onclick="window.location.href='/account'" style="margin-left: 8%; padding: 9px 20px;">account</button>
				{{end}}
			</div>
		{{else}}
			<button onclick="window.location.href='/login'" style="padding: 9px 20px;">Войти</button>
			<button id="login-button" onclick="window.location.href='/registration'" style="padding: 9px 20px;">Регистрация</button>
		{{end}}
	</td>
	</tr>
</table> 

<table border="0" width="900" cellpadding="10" align="center" style="margin-top: 10px;">
	<tr>
	<td align="center"><a href="https://yandex.ru/maps/-/CDU~BGi6">Карта</a></td>
	<td align="center"><a href="/contacts">Контакты</a></td>
	<td align="center"><a href="/rent">Аренда</a></td>
	</tr>
</table> 
<BR>
<table border="0" width="900" cellpadding="5" cellpadding="0" align="center">
	<tr>
		<td width="150" cellpadding="5" valign="top" align="center" bgcolor="#c4c4c4">
			<p><a href="/news" style="margin-top: 5px;">Новости</a></p>
			<p><a href="/card"style="margin-top: 5px;">Карта лояльности</a></p>
			<p><a href="/sale" style="margin-top: 5px;">Скидки</a></p>
			<p><a href="/support" style="margin-top: 5px;">Наши партнеры</a></p>
        </td>
        <td>
        <h1>Add sale</h1>
		<form action="/add_sale" method="post" style="margin-bottom: 36%;">
			<label for="title">Title:</label>
			<input type="text" id="title" name="title" required>
			<br>

			<label for="text" style="margin-top: 20px;">Text:</label>
			<input type="text" id="text" name="text" required>
			<br>

			<input type="submit" value="Add" style="margin-top: 20px;">
		</form>
        </td>
		<td width="190" cellpadding="5" valign="top" align="center" bgcolor="#c4c4c4">
            <a href="https://www.adidas.ru/"><img with="100" height="100" src="static/images/adidas.png" alt="Adidas"></a>
            <a href="https://www.nike.com/ru/"><img with="100" height="200" src="static/images/nike.svg" alt="Nike"></a>
			<a href="https://ua.puma.com/"><img with="100" height="100" src="static/images/puma.png" alt="Puma"></a>
			<a href="https://www.reebok.ru/"><img with="100" height="100" src="static/images/reebok.png" alt="Reebok" style="margin-top: 40%;"></a>
			<a href="https://www.cpcompany.com/"><img with="100" height="100" src="static/images/cp_company.png" alt="C.P.Company" style="margin-top: 40%;"></a>
		</td>
	</tr>
</table>
<footer>
    <div class="footer-content" >
        <ul style="list-style-type: none">
            <li>Москва, м. Курская / м. Чкаловская, ул. Земляной вал, 33</li>
            <li>Большинство магазинов работает с 10:00 до 23:00</li>
            <li>Контактный телефон: +7(495) 970-15-55</li>
            <li>© Все права защищены</li>
        </ul>
    </div>
</footer>

</body>
</html>
